<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pavel.chatapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Services.Notification.App"
        android:allowBackup="true"
        android:icon="@drawable/chat_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_icon_for_label_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivities.LoginRegisterFrag.ActivityLoginRegisterContainer"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivities.SupportActivities.NoConnectionNotifier" />
        <activity android:name=".MainActivities.SupportActivities.SettingsActivity" />
        <activity android:name=".MainActivities.SupportActivities.ProfileActivity" />
        <activity android:name=".MainActivities.ChatWithUserActivity" />
        <activity android:name=".MainActivities.UserListsFrag.ActivityUsersContainer" />
        <activity android:name=".Services.Notification.App" />

        <service android:name=".Services.Notification.NotificationService" />

        <receiver android:name=".Services.ConnectionBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>